@import "tailwindcss";
@plugin "daisyui";
:root {
  --background: #1F1F1F;
  --background-secondary: #0F0F0F;
  --foreground: #171717;
  --primary: #D6A354;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-background-primary: var(--background);
  --color-background-secondary: var(--background-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}





/* styles/globals.css */

/* Clip Path for Image */
.clip-path-container {
  position: relative;
  overflow: hidden;
  border-radius: 16px; 
}

.clip-path-image {
  clip-path: path('M0,10,50 L 90 ,50 L 100 ,10 40 Z');
  transition: all 0.3s ease-in-out;
}

/* Optional: Hover effect for image */
.clip-path-image:hover {
  transform: scale(1.05);
  filter: brightness(0.9);
}



.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 16px;
}









.btn-primary {
  background: var(--primary);
  color: white;
  border: 0;
}


body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
